{% extends "base.html" %}

{% block content %}

<div class="card">

    <h2>Semua Tweet ({{ total }} total)</h2>

    <input
        type="text"
        id="cari"
        placeholder="Cari tweet..."
        style="width:100%;padding:8px;margin:10px 0;"
    >

    <table>

        <thead>
            <tr>
                <th>Tanggal</th>
                <th>User</th>
                <th>Tweet</th>
                <th>Topik</th>
                <th>Sentimen</th>
                <th>Like</th>
            </tr>
        </thead>

        <tbody id="tabelBody">

        {% for t in data %}

            <tr>

                <td>{{ t.tanggal }}</td>

                <td>@{{ t.username }}</td>

                <td>

                  {% if t.teks_asli is string %}

                      {{ t.teks_asli[:100] }}

                      {% if t.teks_asli|length > 100 %}
                          ...
                      {% endif %}

                  {% else %}

                      -

                  {% endif %}

                </td>

                <td>{{ t.topik }}</td>

                <td>{{ t.sentimen }}</td>

                <td>{{ t.likes }}</td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

<script>

document.getElementById("cari").addEventListener("input", function () {

    let keyword = this.value.toLowerCase();

    document.querySelectorAll("#tabelBody tr").forEach(function(row){

        row.style.display =
            row.innerText.toLowerCase().includes(keyword)
            ? ""
            : "none";

    });

});

</script>

{% endblock %}