{% extends "base.html" %}
{% block content %}

<h2>🐦 Dashboard Twitter</h2>

<p>Total Tweet : {{ total }}</p>

<!-- Statistik -->

<div class="stat-grid">

    <div class="stat total">
        <div class="angka">{{ total }}</div>
        <div class="label">Total Tweet</div>
    </div>

    <div class="stat positif">
        <div class="angka">{{ sentimen.get('positif',0) }}</div>
        <div class="label">Positif</div>
    </div>

    <div class="stat netral">
        <div class="angka">{{ sentimen.get('netral',0) }}</div>
        <div class="label">Netral</div>
    </div>

    <div class="stat negatif">
        <div class="angka">{{ sentimen.get('negatif',0) }}</div>
        <div class="label">Negatif</div>
    </div>

</div>
<div class="card">
  
<br>

<h3>Topik Terpopuler</h3>

<table>

<tr>
<th>Topik</th>
<th>Jumlah</th>
</tr>

{% for nama,jumlah in topik.items() %}

<tr>

<td>{{ nama }}</td>

<td>{{ jumlah }}</td>

</tr>

{% endfor %}

</table>

</div>

<div class="card">

<h3>Tweet Paling Banyak Disukai</h3>

<table>

<tr>

<th>User</th>

<th>Tweet</th>

<th>Like</th>

<th>Sentimen</th>

</tr>

{% for t in tweet_viral %}

<tr>

<td>@{{ t.username }}</td>

<td>{{ t.teks_asli[:100] }}</td>

<td>{{ t.likes }}</td>

<td>{{ t.sentimen }}</td>

</tr>

{% endfor %}

</table>

</div>

<br>